@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");

.navBar {
  background-color: var(--darkgrey);
}

.innerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.navLinks li {
  font-weight: 700;
  display: inline-block;
}

.brand {
  font-weight: 700;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Kaushan Script", cursive;
  color: var(--lightblue);
}

.navButton {
  font-size: 1.4rem;
  text-decoration: none;
  transition: all 0.3s ease;
  color: var(--lightblue);
  padding: 10px 15px;
  font-family: "Kaushan Script", cursive;
}

.navButton:hover {
  background-color: var(--darkblue);
  color: white;
}

.navButton:active {
  background-color: var(--darkblue);
  color: white;
}
