@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");

* {
  --darkblue: #012f47;
  --lightblue: #019fe9;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.movieCard {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  border: 0;
  display: block;
}

.movieCard img {
  width: 100%;
  display: block;
}

.movieCard .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.movieCard:hover .overlay {
  border: 3px solid var(--lightblue);
  border-radius: 15px;
  transition: all 0.25s ease;
}

.innerCardControls {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 3px;
  opacity: 0;
  transition: all 0.25s ease;
}

.movieCard:hover .innerCardControls {
  opacity: 1;
  transition: all 0.25s ease;
}
